
body {
  background-color: azure;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
  box-sizing: border-box;
}
.quiz-container{
  height: 30x;
  widows: 25x;
  background-color:turquoise;
  margin: 25px auto;
  border-radius: 7px;
  padding: 35px;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.wrap{
  flex-wrap:wrap;
}
body{
  padding: 0;
  margin: 0;
}
h1{
  width: 100vw;
  background: beige;
  color:teal;
  padding: 30px 0;
  margin: 0 0 17px;
 text-align: center;
 font-size: 35px;
 color: black;
 letter-spacing: 1.7;

}
h3{
  text-align: center;
  letter-spacing: 1.7;
  font-size: 30px;
}
button{
  width: 85px;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  background-color:blanchedalmond;
  transition: all 400ms;
  margin: 10px;
  margin: auto;
}  
button:hover{
  color: whitesmoke;
  background: royalblue;
  cursor: pointer;
}
.align-center{
  align-items: center;
}
.justify-content{
  justify-content:center;
}
.w-100{
  width: 100%;
}
