
body {
  background-color: azure;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
*{
  box-sizing: border-box;
}
.quiz-container{
  height: 30x;
  widows: 25x;
  background-color: turquoise;
  margin: 25px auto;
  border-radius: 7px;
  padding: 35px;
}

.quiz-container .questions{
padding: 15px;
background-color: teal;
border-radius: 7px;
color: gainsboro;
font-size: 30px;
float: center;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.wrap{
  flex-wrap:wrap;
}
body{
  padding: 0;
  margin: 0;
}
h1{
  width: 100vw;
  background: white;
  color:teal;
  padding: 30px 0;
  margin: 0 0 17px;
 text-align: center;
}
button{
  width: 85px;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  background-color: blanchedalmond;
  transition: all 400ms;
}
button:hover{
  color: whitesmoke;
  background: royalblue;
  cursor: pointer;
}
.align-center{
  align-items: center;
}
.justify-content{
  justify-content:center;
}